body{
    background-color: #282c34;
    text-align: center;
}
form ,.result-container{
    display: inline-block;
    background-color: aliceblue;
    padding:10px;  
    width: 300px ;
    height:320px auto;
    margin: 10px auto;
    border: black solid 2px;
    border-radius: 20px;
    font-size: x-large;
    color: rgb(0, 0, 0);
}
.form-container{
    padding-top: 50px;
    display: inline-flex;
    flex-wrap: wrap;
}
input{
    padding:10px auto;
    border-radius: 10px;
}
