body{
    background-color: #92d4fa;
}

.TodoList-container{
    text-align: center;
    background-color: aliceblue;
    padding: 30px;
    margin: 40px auto;
    max-width: 300px;
    border: solid black;
    border-radius: 10px;
}

.add {
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input{
    padding: 6px 10px;
    border: solid black 2px;
    border-radius: 10px;
}

.add:hover {
  background-color: #0056b3;
}

.TodoList-container li {
  background-color: white;
  border: 1px solid #ddd;
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-message{
    color: #ff0202;
}

.button {
  position: relative;
  width:5em;
  height: 3em;
  border: none;
  background: none;
}

.X {
  content: '';
  position: absolute;
  top: 50%;
  left: 33%;
  width: 2em;
  height: 1.5px;
  background-color: #f9f9f9;
  border: #cc0505 solid 1px;
  transform: rotate(45deg);
}

.Y {
  content: '';
  position: absolute;
  top: 50%;
  left: 33%;
  width: 2em;
  height: 1.5px;
  background-color: #ffffff;
  border: #cc0404 solid 1px;
  transform: rotate(-45deg);
}


.button:hover {
  background-color: rgb(210, 0, 0);
}

.button:active {
  background-color: rgb(130, 0, 0);
}

